.button{
	background-image: url(../images/menu.png);
        background-color: #c0c0c0;
	padding: 8px 16px;
	display: inline-block;
        text-decoration: none;
   
        border-radius: 3px;
        font: 14px sans-serif;
        margin-left: 4px;
        border: 0;
        outline: none;
        color: black;
        cursor: pointer;
        text-align: center;
}

.button_thin {
        background-color: #c0c0c0;
	padding: 4px 10px;
	display: inline-block;
        text-decoration: none;
        border-radius: 3px;
        font: 14px sans-serif;
        margin-left: 4px;
        border: 0;
        outline: none;
        color: black;
        cursor: pointer;
        float: right;
}

.button:hover{
    background-color: #f1f1f1;
}

.button_thin:hover{
    background-color: #f1f1f1;
}

.button_tile{
	border: 0px;
	cursor: pointer;
	font: bolder 20px icon;
	background: rgba(243,226,199,1);
background: rgba(243,226,199,1);
background: -moz-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 0%, rgba(182,141,76,1) 99%, rgba(233,212,179,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,226,199,1)), color-stop(0%, rgba(193,158,103,1)), color-stop(99%, rgba(182,141,76,1)), color-stop(100%, rgba(233,212,179,1)));
background: -webkit-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 0%, rgba(182,141,76,1) 99%, rgba(233,212,179,1) 100%);
background: -o-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 0%, rgba(182,141,76,1) 99%, rgba(233,212,179,1) 100%);
background: -ms-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 0%, rgba(182,141,76,1) 99%, rgba(233,212,179,1) 100%);
background: linear-gradient(to right, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 0%, rgba(182,141,76,1) 99%, rgba(233,212,179,1) 100%);
;
	width: 200px;
	height: 100px;
	
}
